<p>home works!</p>
<!-- ; başak burada isimlendirme hatası var 
; Erişim sağladığın alan cart ama senin isimledirmen card

; başak geri dönen değer buradaa product nesnesi idi ama senin atama yaptığın tip string[] idi
; onu bir product nesnesi oluşturup ona göre atama yaptım ve nesne içerisinde kullanılan keyler apiden dönen değer ile aynı olmalıdır. 
; Bu hatan product yaşmışsın ama apiden products diye dönüyordu. 
; son olarak burası bütğn kullanıcıların sepetlerinin ortak göründüğü yer
; ilk id sepet id si ve o sepetin içerisindeki ürün listesi yer alıyor
; örneğin senin sepetinin numarası 2 ve onun içerisindeki ürünler senin sepetindeki ürünler.
; anladın mı?
; evet hocam izledim 
; daha iyi anladım
; tamamdır yaptığın isimlendirmelere dikkat etmen gerekiyor.tamamdır hocam teşekkürler
; rica ederim kolay gelsin iyi akşamlar hocam 
; bayy -->
<!--  -->